 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>A little <em>about</em> me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-lg-offset-2">
                  <img class"img-abt" src="img/profile.png" style="width: 230px;height: 180px;border-radius:50%; margin-left:10%;"></img>
                </div>
                <div class="col-lg-6">
                    <p style="text-transform:none">I am a graduate student in Robotics Engineering at Worcester Polytechnic Institute.
                       My research interests lies in computer vision, deep learning and Surgical Robotics. I am aspiring to make neural networks and computer vision models for living.
                      <br><br> I have three years of software development experience in enterprice applications development
                    and working with large code bases for debugging, performance tuning and business logic implementations</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
